.lm-new-layout-container {
	display: flex;
	flex-direction: column;
	gap: var(--size-4-3)
}

.lm-new-layout-container textarea {
	resize: vertical;
}

.workspace .mod-root .workspace-tab-header[data-type="markdown"] .workspace-tab-header-inner-icon.lm-original {
	display: unset;
}
